article{ 
    background: silver;
}
header{ 
   color: royalblue; 
}
.Primero{ 
    background: lightsalmon;
}
.Segundo{ 
    background: salmon;
}
.Tercero{ 
    background: lightcoral;
}
.Cuarto{ 
    background: indianred;
}